<!DOCTYPE html>
<html>
    <head>
        <title>Frankr | Login</title>
        <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <h1>Frankr</h1>

         <div class="metanav">
                {% if not session.logged_in %}
                <a class="btn btn-success" role="button" href="{{  url_for('login') }}">Log In</a>
                {% else %}
                <a class="btn btn-warning" role="button" href="{{ url_for('logout') }}">Log Out</a>
                {% endif %}
            </div>

            {% for message in get_flashed_messages() %}
            <div class="flash alert alert-success col-sm-4">{{ message }}</div>
            {% endfor %} {% block body %} {% endblock %}

            <h2>Log In</h2>

            {% if error %}
            <p class="alert alert-danger col-sm-4"><strong>Error: </strong> {{ error }}</p>
            {% endif %}

            <form action="{{ url_for('login') }}" method="post">
                <dl>
                    <dt>Username:</dt>
                    <dd><input type="text" name="username" class="form-control col-sm-4" /></dd>
                    <dt>Password:</dt>
                    <dd><input type="password" name="password" class="form-control col-sm-4" /></dd>
                    <dd><input type="submit" class="btn btn-primary" value="Log In" /></dd>
                    <span>Use "admin" for username and password</span>
                </dl>
            </form>
        </div>
    </body>
</html>